<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" th:href="@{/static/lib/mediaelementplayer.css}"/>
    <!--    <link rel="stylesheet" th:href="@{/static/lib/bootstrap.min.css}"/>-->
    <script type="text/javascript" th:src="@{/static/lib/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/lib/mediaelement-and-player.js}"></script>
    <!--    <script type="text/javascript" th:src="@{/static/lib/bootstrap.min.js}"></script>-->


    <style>
        html {
            padding: 0;
            margin: 0;
            font-size: 16px;
        }

        body {
            padding: 0;
            margin: 0;
            font-size: 10px;
        }

        p {
            margin: 0.4rem 0;
        }

        ul, li {
            list-style: none;
            margin: 0;
        }

        li {
            padding: 0.8rem 0.2rem;
            font-size: 14px;
        }
    </style>
</head>

<body>
<div style="position: fixed; bottom:0;">
    <audio id="player2" preload="none" controls style="max-width:99%;">
        <!--        <source src="http://localhost:8000/ThePentagonLeaksandFoxNews.mp3" type="audio/mp3">-->
        <source th:src="@{'/stream-audio?id=' + ${id}}" type="audio/mp3">
    </audio>
</div>
<div style="padding: 100px 0">
    <li th:each="srt : ${srts}" th:id="${srt.getNumber()}">
        <p th:each="cs : ${srt.getContents()}">
            <span th:each="word : ${cs}" th:text="${word + ' '}"></span>
        </p>
    </li>
</div>


<script th:inline="javascript">

    var times = /*[[${times}]]*/ [];


    function findTimes(time) {
        time = time * 1000;
        let start = 0;
        let end = times.length;
        let findItem = null;
        let breakCont = times.length / 2;
        while (start <= end) {
            breakCont--;
            if (breakCont < 0) {
                break;
            }
            // console.log("start:", start, "end:", end);
            let mid = Math.floor((end + start) / 2);
            let midItem = times[mid];
            if (time < midItem[1]) {
                end = mid - 1;
                continue;
            }
            if (time > midItem[2]) {
                start = mid + 1;
                continue;
            }
            if (time > midItem[1] && time < midItem[2]) {
                findItem = midItem;
                break;
            }
            //prevent infinite loop

        }
        if (!findItem) {
            console.log("currentTime", time)
        }
        return findItem;
    }

    var player2 = new MediaElementPlayer('player2', {
        success: function (mediaElement, originalNode) {
            console.log("Player initialised");

        },
        stretching: "responsive",
        enableAutosize: false,
        defaultAudioHeight: 40
    });

    let currentItem = null;
    setInterval(function () {
        let currentTime = player2.getCurrentTime();
        let srtItem = findTimes(currentTime);
        if (srtItem) {
            if (currentItem) {
                $('#' + currentItem[0]).css({background: 'unset'})
            }
            $('#' + srtItem[0]).css({background: '#b598a1'})
            $('#' + srtItem[0])[0].scrollIntoView({behavior: 'smooth', block: 'center'})

            currentItem = srtItem;
            // document.getElementById(srtItem[0]).scrollIntoView({behavior: 'smooth', block: 'start'});
        } else {
            // console.log("currentTime", currentTime)
        }
        // console.log("currentTime", currentTime)
    }, 1000)


</script>
</body>

</html>